body {
  background-color:white;
}

.locations {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.location p {
  padding: 5px;
  margin: 0;
  border-bottom: rgb(219, 219, 219) solid 1px;
  font-size: 14px;
  color: grey;
}

.location {
  margin: 20px;
  border: solid rgb(255, 224, 245) 1px;
  border-radius: 10px;
  padding: 10px;
}
.cities {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.cities p {
  padding: 5px;
  margin: 0;
  border-bottom: rgb(219, 219, 219) solid 1px;
  font-size: 14px;
  color: grey;
}

.city {
  margin: 20px;
  border: solid rgb(255, 224, 245) 1px;
  border-radius: 10px;
  padding: 10px;
}

.filter-container {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.form-control {
  width: 20vw;
  height: 30px;
  border: rgb(218, 218, 218) solid 1px;
  border-radius: 10px;
}

.form-control-container select {
  display: block;
  text-align: center;
  margin-top: 3px;
  outline: none;
}
.form-control-container input {
  display: block;
  text-align: center;
  outline: none;
  margin-top: 3px;
  height: 26px;
}

label {
  color: grey;
  font-size: 14px;
  margin-bottom: 10px;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  color: purple;
}

.btn-primary {
  display: block;
  width: 100%;
  color: black;
  background-color: rgb(247, 247, 247);
  border-width: 0;
  font-size: 0.8rem;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.btn-primary:hover {
  background-color: rgb(255, 230, 245);
}

.btn-primary:active {
  background-color: rgb(255, 176, 176);
}

.city .city-location {
  font-size: 12px;
}